.container-banner {
    padding-left: 280px;
    width: 1623px;
    height: 530px;

    .img-banner {
        width: 1623px;
        height: 530px;
        position: relative;
    }

    .img-grande {
        width: 1623px;
        height: 530px;
    }

    .box-preta {
        background-color: black;
        width: 1623px;
        height: 175px;
        position: absolute;
        opacity: .75;
        bottom: 0;
    }

    .absoluto {
        position: absolute; 
    }

    .img-pequena {
        width: 70px;
        height: 100px;
        left: 45px;
        bottom: 90px;
        border: 1px solid orange;     
    }

    h2 {
        color: white;
        bottom: 118px;
        left: 140px;
        font-size: 40px;
    }

    p {
        color: white;
        bottom: 90px;
        left: 140px;
    }

    .btn-adquira {
        margin: 0 17.5px;
        width: 244px;
        height: 46px;
        border: none;
        border-radius: 5px;
        font-size: 18px;   
        background-color: rgb(255, 115, 0);
        cursor: pointer;   
        color: white;
        bottom: 60px;
        right: 40px;    
    }
}
