.lightbox {
    display: block;
    
    .fundo {
        background: #000;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .6;
    }
    
    .conteudo {
        position: fixed;
        background: #FFF;
        width: 1000px;
        height: 650px;
        border-radius: 10px;
        // padding: 16px;
        left: 50%;
        margin-left: -380px;
        top: 50px;
        
        .sombra-topo {
            background-color: rgb(165, 165, 165);
            width: 100%;
            height: 100px;
            border-radius: 10px 10px 0 0;
            
        }

        h1 {
            padding: 30px;
            margin: 0;
            color: #000;
        }

        .container-compra {
            width: 100%;
            height: 50%;
        }
        .dados-compra {
            margin: 30px;
            width: 60%;
            float: left;

            .img-pequena {
                height: 80px;
                border: 1px solid orange;   
                float: left;  

            }

            li {
                float: left;
                margin: 20px 20px 20px 0;
                
                h3 {
                    float: left;
                    margin: 0 325px 0 20px;
                }
                p {
                    float: left;
                }
    
            }
            .dados-total {
                height: 60px;
                margin: 20px;
                p {
                    float: right;
                    margin-left: 40px;
                }

            }
        }
        .forma-pagamento {
            margin: 30px;
            float: right;
            width: 28%;
            height: 30%;

            p {
                margin-left: 20px;
            }
        }

        .detalhes-compra-mini {
            font-size: 15px;
            margin: 0 20px;
        }
    }
}