.container-menu {
    width: 280px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    background-color: #1E262C;

    h1 {
        margin: 30px 100px 15px 100px;
    }

    a {
        color: #9e9e9e;
    }

    li {
        color: #9e9e9e;
    }

    input {
        outline: none;
        margin: 20px 27px;
    }
    input[type=search] {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        font-family: inherit;
        font-size: 100%;
    }

    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button {
        display: none; 
    }
      
    input[type=search] {
        background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
        border: solid 2px #66CC75;
        padding: 9px 10px 9px 32px;
        width: 120px;
        
        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        border-radius: 10em;
        
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
    }

    input[type=search]:focus {
        width: 180px;
        background-color: #fff;
        border-color: rgb(233, 129, 31);
        
        -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
        -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
        box-shadow: 0 0 5px rgba(109,207,246,.5);
    }
    
    input:-moz-placeholder {
        color: #999;
    }

    input::-webkit-input-placeholder {
        color: #999;
    }   

    .lista-menu li {
        margin: 0 0 0 20px;
        list-style-type: none;
        font-size: 20px;
        padding: 10px 0 10px 20px;
    }
    
    .sub-lista {
        margin: 0 0 0 40px;
    }

    hr {
        color: #9e9e9e;
        opacity: 0.5;
        margin: 10px 0;
    }   

    .lista-cadastro {
        margin-top: 440px;
        bottom: 20px;
    }

    .btn {
        margin: 0 17.5px;
        width: 244px;
        height: 46px;
        border: none;
        border-radius: 5px;
        font-size: 18px;   
        background-color: rgb(255, 115, 0);
        cursor: pointer;    
        bottom: 0;  
    }

    .btn a {
        color: white;
    }
}