.container-mp {
    padding-left: 280px;
    width: 1623px;
    height: 70px;
    background-color: #1E262C;
    position: initial;

    ul {
        padding-top: 40px;
    
        li {
            display: inline;
            color: #9E9E9E;
            margin-left: 40px;
            font-size: 12px;
        }
    }
}