.container-med {
    margin-left: 280px;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    background-color: rgb(221, 246, 253);

    .flex-wrap {
        flex-wrap: wrap;
    }
    
    .item {
        position: relative;
        background: tomato; //apenas para verificar o tamanho correto
        text-align: center;
        font-size: 1.5em;
        overflow: hidden;
        flex: 1;
        margin: 20px 0 0 20px;
        height: 360px;
        border-radius: 1px;
        box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);    
    
    
        + .item {
            margin-right: 20px;
        }
    }

    .shrink-1-basis {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 150px;
    }

    .img-media {
        position: absolute;
        left: 50%;
        height: 100%;
        margin-left: -450px;
    }

    .img-mini {
        position: absolute;
        width: 70px;
        height: 100px;
        bottom: 40px;
        left: 20px;
    }
    
    .caixa-preta {
        background-color: black;
        width: 782px;
        height: 125px;
        position: absolute;
        opacity: .75;
        bottom: 0;
    }
    
    h2 {
        position: absolute;
        color: white;
        bottom: 60px;
        left: 120px;
        font-size: 40px;
    }

    p {
        color: white;
        bottom: 30px;
        left: 120px;
        position: absolute;
    }
}

.container-med + .container-med {
    padding-bottom: 20px;
}