.slider {


    .container {
        padding: 20px 40px 20px 310px;
        background-color: #DDF6FD;
    }

    .flex {
        display: flex;
    }

    .item {
        margin: 10px;
        background: grey;
        text-align: left;
        font-size: 1.5em;
        width: 150px;
        height: 360px;
    }

    .img-quadro {
        width: 150px;
        height: 212px;
    }

    p{
        margin: 0 0 80px 10px;
    }

    h3 {
        margin-left: 10px;
        color: orange;
    }
}